:root {
    --primary: #362B3B;
    --secondary: #9E4770;
    --shadow: #0B090A;
    --font: #FBFBFB;
}

body {
    margin: 0;
    background-color: #201A23;
    font-family: "Inter", "JetBrains Mono", sans-serif;
}

.calculator {
    background-color: var(--primary);
    margin: 100px auto;
    border-radius: 20px;
    padding: 10px 5px;
    width: fit-content;
    box-shadow: 0px 0px 10px var(--shadow);
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--secondary);
    color: var(--font);
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 5px var(--shadow);
    border-radius: 25px;
    font-size: 28px;
    height: 90px;
    box-sizing: border-box;

    &:active {
        color: #F1D302;
    }
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;
}

.row {
    display: flex;
}

.btn {
    background-color: var(--secondary);
    color: var(--font);
    border: none;
    border-radius: 12px;
    width: 75px;    
    height: 50px;
    font-size: 24px;
    font-family: "Inter", "JetBrains Mono", sans-serif;
    margin: 5px;
    box-shadow: 0px 0px 5px var(--shadow);
    transition: .125s ease;

    &:hover {
        background-color: #8D3F63;
        cursor: pointer;
        scale: .95;
    }

    &:active {
        background-color: #7F3959;
        
    }
}

.symbol,
.operator {
    background-color: #C1292E;
}

.equal {
    background-color: #235789;
}   